<app-header [showMenuButton]="true" title="Sensores"></app-header>

<ion-content class="ion-padding">

  <!-- Tarjeta GPS -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>GPS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Latitud: {{ position?.coords?.latitude }}</p>
      <p>Longitud: {{ position?.coords?.longitude }}</p>
      <p>Precisión: {{ position?.coords?.accuracy }} metros</p>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta Acelerómetro y Orientación -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acelerómetro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>X: {{ accelerometerData.x | number:'1.1-1' }}</p>
      <p>Y: {{ accelerometerData.y | number:'1.1-1' }}</p>
      <p>Z: {{ accelerometerData.z | number:'1.1-1' }}</p>
      <p>Alpha: {{ orientationData.alpha | number:'1.1-1' }}</p>
      <p>Beta: {{ orientationData.beta | number:'1.1-1' }}</p>
      <p>Gamma: {{ orientationData.gamma | number:'1.1-1' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
