ion-content {
  --background: #800000; /* Fondo rojo granate */
  --color: #ffffff; /* Texto en blanco para contraste */
  --padding-top: 28px;
}

ion-item {
  font-size: 14px;
  color: #f8f8f8; /* Texto en un color claro */
  --background: #600000; /* Fondo más oscuro para contraste */

  ion-icon {
    color: #f8f8f8;
  }

  &.active {
    color: #ffcc00; /* Color de advertencia (amarillo) */

    ion-icon {
      color: #ffcc00;
    }
  }
}

/* Menú lateral */
ion-menu {
  --width: 254px;
  --min-width: 254px;
  --background: #700000; /* Color de fondo del menú */
  outline: none;
}

h4 {
  margin-top: 5px;
  font-weight: bold;
  color: #fff; /* Texto blanco */
}

/* Icono de avatar grande */
.avatar-icon {
  font-size: 100px;
  color: #ffcc00; /* Amarillo para destacar */
}

/* Tamaño del avatar */
ion-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border: 2px solid #ffcc00; /* Borde amarillo */
}
